<div class="container">
  <h1>Escribe tu pendiente</h1>
  <%= form_with model: @todo, local: true do |f| %>
  <div class="form-group">
    <%= f.label '¿Qué tienes que hacer?' %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Descripción' %>
  </div>
  <div class="form-group form-check">
    <%= f.check_box :completed %>
    <%= f.label '¿Completado?' %>
  </div>
    <%= f.submit 'Enviar' %>

  <% end %>
</div>
